body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffccd5;
}

.container {
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 15px 35px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#yesBtn {
    background-color: #ff6781;
}

#yesBtn:hover {
    background-color: #db5565;
}

#noBtn {
    background-color: #ff6781;
    position: relative;
}

#noBtn:hover {
    background-color: #db5565;
}
